{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/style.css' %}">

<div class="contact-container">
    <h2 class="contact-title">Add New Project</h2>
    
    <form method="post" class="contact-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn submit-btn">Add Project</button>
    </form>

    <a href="{% url 'dashboard:dashboard_view' %}" class="btn back-btn">Back to Dashboard</a>
</div>
{% endblock %}
