{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Alhanouf Aldhaheri Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <!-- Navigation Bar -->
    <header>
        <nav class="navbar">
            <div class="logo">My Portfolio</div>
            <ul>
                <li><a href="{% url 'main:home_view' %}">Home</a></li>
                <li><a href="{% url 'main:about_view' %}">About Me</a></li>
                <li><a href="{% url 'projects:projects_list_view' %}">Projects</a></li>
                <li><a href="{% url 'main:contact_view' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content Area -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Alhanouf Aldhaheri. All rights reserved.</p>
    </footer>
</body>
</html>
